<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oolong.mapper.ReplyMapper">
	<insert id="insert">
		<selectKey order="AFTER" keyProperty="rno" resultType="long">
			select LAST_INSERT_ID()
		</selectKey>
		insert into tbl_reply(bno, replyText, replier) values(#{bno}, #{replyText}, #{replier})
	</insert>
	<select id="read" resultType="ReplyDTO">
		select * from tbl_reply where rno = #{rno}
	</select>
	<update id="delete">
		update tbl_reply set delFlag = true, replyText = '삭제된 댓글입니다.', replier = 'unknown' where rno = #{rno}
	</update>
	<update id="update">
		update tbl_reply
			set replyText = #{replyText},
				updateDate = now()
		where rno = #{rno}
	</update>
	<select id="listOfBoard" resultType="ReplyDTO">
		select * from tbl_reply
		where bno = #{bno}
		order by rno asc
		limit #{limit} offset #{skip}
	</select>
	<select id="countOfBoard">
		select count(rno) from tbl_reply where bno = #{bno}
	</select>
</mapper>